[alias]
    a  = add
    co = checkout
    br = branch
    ds = diff --stat
    ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    lss = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ln = log --name-status
    li = log --stat
    lsf = ls-files
    cp = cherry-pick
    st = status -s
    cl = clone
    ci = commit
    cm = commit --amend
    ; diff = diff --word-diff
    dc = diff --cached
    ttc = clean -x -d 
    todo = "!sh -c ' \
    [ $GIT_PREFIX ] && cd $GIT_PREFIX; \
    git status --short --branch $*; \
    git --no-pager diff -U0 master | \
    grep \"^+.*TODO\" | \
    sed \"s/^+//\" | \
    git --no-pager grep -nFf - 2> /dev/null' -"

[user]
    name = Noah D. Brenowitz
    email = nbren12@gmail.com
[oh-my-zsh]
	hide-status = 1
[url "git://uv-cdat.llnl.gov/windfield.git"]
	insteadof = http://uv-cdat.llnl.gov/git/windfield.git
[push]
	default = matching
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/noah/.globalgitignore
[http]
	sslVerify = false
[github]
	user = nbren12
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
