"*":
  Hydrogen: {}
  "atom-ctags": {}
  "autocomplete-bibtex":
    bibtex: [
      "/Users/noah/Dropbox/Papers/references.bib"
    ]
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  "autocomplete-python":
    pythonPath: "/Users/noah/anaconda3/bin"
  core:
    disabledPackages: [
      "symbols-view"
      "academic"
      "academic"
      "academic"
      "atom-ctags"
      "minimap"
      "vim-mode"
      "vim-mode-plus"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "4545abde-a072-4c44-895c-42838c14bae4"
  "git-plus": {}
  "julia-client":
    enableMenu: true
    enableToolBar: true
    juliaOptions: {}
    juliaPath: "/Applications/Julia-0.6.app/Contents/Resources/julia/bin/julia"
    launchOnStartup: true
  latex: {}
  "markdown-preview": {}
  minimap:
    displayCodeHighlights: false
  "one-dark-ui": {}
  pandoc:
    args: "pandoc --filter pandoc-citeproc -s --bibliography=/Users/noah/Dropbox/My\\ Library.bib"
    cmd: "/usr/local/bin/pandoc"
  "python-jedi": {}
  "spell-check":
    grammars: [
      "text.tex.latex"
      "source.gfm"
      "text.plain"
      "text.git-commit"
    ]
  "tool-bar":
    position: "Left"
  "uber-juno":
    disable: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
