"*":
  "exception-reporting":
    userId: "4545abde-a072-4c44-895c-42838c14bae4"
  welcome:
    showOnStartup: false
  "autocomplete-python":
    pythonPath: "/Users/noah/anaconda3/bin"
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  core:
    disabledPackages: [
      "symbols-view"
      "academic"
      "academic"
      "academic"
      "atom-ctags"
      "minimap"
      "vim-mode"
    ]
    themes: [
      "unity-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    invisibles: {}
    fontSize: 12
    softWrap: true
    softWrapAtPreferredLineLength: true
  latex: {}
  "one-dark-ui": {}
  pandoc:
    args: "pandoc --filter pandoc-citeproc -s --bibliography=/Users/noah/Dropbox/My\\ Library.bib"
    cmd: "/usr/local/bin/pandoc"
  "git-plus": {}
  "spell-check":
    grammars: [
      "text.tex.latex"
      "source.gfm"
      "text.plain"
      "text.git-commit"
    ]
  "atom-ctags": {}
  "autocomplete-bibtex":
    bibtex: [
      "/Users/noah/Dropbox/Papers/references.bib"
    ]
  "markdown-preview": {}
  Hydrogen: {}
  "python-jedi": {}
  minimap:
    displayCodeHighlights: false
  "tool-bar":
    position: "Left"
  "julia-client":
    enableMenu: true
    enableToolBar: true
    launchOnStartup: true
    juliaPath: "/Applications/Julia-0.5.app/Contents/Resources/julia/bin/julia"
  "uber-juno":
    disable: true
