
snippet meta "metadata for notes" b
Title: ${1:Notes for `date +%m.%d.%Y`}
Date: `date +%m.%d.%Y`
Author: ${2:Noah D. Brenowitz}
Project: ${3: rayben }
Tags: ${4: @journal }
endsnippet

snippet highlight
{% highlight %}
{% endhighlight %}
endsnippet
